* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #ffffff;
}


@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

#loadMoreButton {
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    color: #ffffff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
}

/**
.content h1 {
    margin: 0;
}
*/